{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier", "react-hooks"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "comma-dangle": ["error", "never"],
    "no-underscore-dangle": 0,
    "no-console": "warn",
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "no-return-assign": [2, "except-parens"],
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-props-no-spreading": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-one-expression-per-line": 0,
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "controlComponents": ["Input"]
      }
    ],
    "react/require-default-props": [2, { "ignoreFunctionalComponents": true }],
    "import/prefer-default-export": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/button-has-type": 0
  },
  "settings": {
    "react": {
      "version": "16.13"
    }
  }
}
