<figure class="logo-wrapper">
  <div class="logo" style="background-image: url('https://www.arteveldehogeschool.be/sites/all/themes/epsenkaas_theme/logo.svg'); ">Arteveldehogeschool Gent</div>
</figure>

<div className="panel-pane pane-menu">
  <div className="nav-toggle--menu">Menu</div>
  <button className="nav-toggle menu-open">
    <span />
    <span />
    <span />
    <span />
  </button>

  <div className="menu-wrapper menu-open">


    <div className="top-menu">
      <ul className="links">
        <li className="menu-2257 first">
          <a href="/contact">Contact</a>
        </li>
        <li className="menu-2631">
          <a href="/vacatures" title="">
            Vacatures
          </a>
        </li>
        <li className="menu-2632">
          <a href="/over-ons" title="">
            Over ons
          </a>
        </li>
        <li className="menu-25066">
          <a
            href="https://www.artevelde-uas.be/"
            title=""
            target="_blank"
            rel="noopener noreferrer"
          >
            English
          </a>
        </li>
        <li className="menu-16045 last">
          <a href="/login">Login</a>
        </li>
      </ul>
    </div>


    <div className="main-menu">
      <ul className="links">
        <li className="menu-1265 first active">
          <a href="/" title="" className="active">
            Home
          </a>
        </li>
        <li className="menu-1685">
          <a href="/opleidingen" title="">
            Opleidingen
          </a>
        </li>
        <li className="menu-31684">
          <a href="/bij-ons-studeren/inschrijven" title="">
            Inschrijven
          </a>
        </li>
        <li className="menu-2290">
          <a href="/studeren-aan-arteveldehogeschool">Bij ons studeren</a>
        </li>
        <li className="menu-2289">
          <a href="/dienstverlening">Dienstverlening</a>
        </li>
        <li className="menu-3827">
          <a href="/onderzoek" title="">
            Onderzoek
          </a>
        </li>
        <li className="menu-30794 last">
          <a href="/search/site" title="Zoeken">
            Zoeken
          </a>
        </li>
      </ul>
      <a href="" className="toggle-search" />
    </div>



  </div>
</div>;
