$primary: #000000;
$primaryDark: darken(#00aacc, 5%);

$pink: #cc0077;
$orange: #f58732;
$green: #bbcc00;
$blue: #009ad4;

$white: #ffffff;
$gray: #707070;
$grayDark: #555555;
$grayLight: #f2f0ed;
$blueLight: #eff6fa;
