@mixin title-one {
  font-family: $font-title;
  font-weight: 600;
}

@mixin title-two {
  font-family: $font-title;
  font-weight: 600;
}

@mixin title-three {
  font-family: $font-title;
  font-weight: 600;
}

@mixin text-body {
  font-family: $font-body;
  font-weight: 400;
  color: black;
}
